.full-height.row.middle-xs.white-text.center-xs.main-background.no-margin
	
	%div.col-xs-12.col-sm-8.col-md-6.col-lg-4
		%div.box
			.big-padding.blue.text-left.white-text
				%h1.bold.light-blue-text.no-margin Red Social
				%p.no-margin Conectate y conoce mas gente de la comunidad.
				.top-space
					=render "devise/registrations/new"
