.full-height.row.middle-xs.white-text.center-xs.main-background.no-margin
	%div.col-xs-12col-sm-8col-md-6col-lg-4
		%div.box
			.big-padding.blue.text-left.white-text.top-space
				%h2 Registrarse
				=render "devise/registrations/new"