.row.center-xs
	.col-xs-10.col-md-8
		.box
			.white.large-padding
				.border-bottom.padding_bottom
					%p.text-left Amistades pendientes
					=render @pending_friendships
				.top-space.border-bottom.padding_bottom
					%p.text-left Amistades respondidas
					=render @accepted_friendships
				.top-space
					%p.text-left Mis solicitudes
					=render @pending_requests